/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
 .header{
     position:sticky;
     padding-bottom: 9em;
 }
 .div{
     background-color:black;
     color: white;
     width: 15em;
     height: auto;
     font-style: italic;
     font-size: 15px;
     border:green;
     border-style: groove;
 }
 h4{
     color: red;
 }


 .continer{
     display: flex;
     justify-content: space-between;   
     padding-bottom: 30em; 
 }

 .div:first-child:hover{
    color: brown;
    background-color: cornsilk;
}
 .footer{
     background-color: black;
     color: blanchedalmond;
     font-style: italic;
     font-family: 'Courier New', Courier, monospace;
     align-content: center;
     
 }
 .video{
     justify-self: center;
 }


